# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

iab-karan/index.html

iab-Cate/subfield-old.php

iab-karan/index.html

iab-karan/index.html

iab-karan/index.html
