$mobile: new-breakpoint(max-width 500px 4)
$medium: new-breakpoint(max-width 640px 6)
$desktop: new-breakpoint(min-width 800px 12)

.outercontainer
	margin: 40px 0
	padding: 0 20px
	+outer-container
	.tabbed
		+span-columns(8)
		+media($medium)
			+span-columns(6)
	.signup
		+span-columns(4)
		+media($medium)
			+span-columns(6)

.section-red
	margin: 20px 0
	padding: 20px
	background-color: $default-red
	text-align: center
	h1
		color: $white
	button
		margin: 20px 0

.grid
	margin: 20px 0
	padding: 20px
	+outer-container
	text-align: center
	button
		margin: 20px 0