$mobile: new-breakpoint(max-width 500px 4)
$medium: new-breakpoint(max-width 640px 6)
$desktop: new-breakpoint(min-width 800px 12)

.outercontainer
	margin: 40px 0 0 0
	padding: 0 20px
	+outer-container
	.tabbed
		$height: em(293)
		+span-columns(8)
		+media($medium)
			+span-columns(6)
	.signup
		+span-columns(4)
		+media($medium)
			+span-columns(6)
		.flex-box
			height: em(367)
	hr
		align: center
		border: 1px solid $default-red
		margin: 0 auto 1.5em
		width: 12em

.section-red
	margin: 20px 0 0 0
	padding: 20px
	background-color: $default-red
	text-align: center
	h1
		color: $white
	button
		margin: 20px 0
	hr
		align: center
		border: 1px solid $white
		margin: 0 auto 1.5em
		width: 12em
	.flex-box
		$flex-box-background: $white
		box-shadow: 0 2px 4px $even-darker-grey
		&:focus, &:hover
			background-color: $white
			box-shadow: 0 10px 20px $even-darker-grey
		twitter
			border-color: light-blue

.section
	margin: 20px 0
	padding: 20px
	text-align: center
	button
		margin: 20px 0

.grid
	margin: 20px 0
	padding: 20px
	+outer-container
	text-align: center
	button
		margin: 20px 0
	hr
		align: center
		border: 1px solid $default-red
		margin: 0 auto 1.5em
		width: 12em

.social
	margin: 40px 0
	padding: 0 20px
	+outer-container
	text-align: center

.statistics
	margin: 40px 0
	padding: 0 20px
	text-align: center
	+outer-container
	hr
		align: center
		border: 1px solid $default-red
		margin: 0 auto 1.5em
		width: 12em

.members
	+outer-container

