
.register-form{
	@include clearfix;

	h2{
		text-align: center;
		color: $base-color-dark-red;
	}

	form{

		.applicant-details{
			@include clearfix;
			width: 100%;
			display: inline-block;
			margin-bottom: 10px;
			float: left;

			p.small-colunms{
				width: 100%;
				padding: 0 10px;

				@include media($medium-screen){
					width:50%;
					float: left;
				}
			}
		}

		.column{
			padding: 0 10px;
		}

		.type-details{
			display: inline-block;
			width: 100%;
			margin-bottom: 20px;
		}

		.type-detail{
			width:100%;
			padding: 0.5em;
			border-bottom: 1px solid $light;

			@include media($medium-screen){
					width:50%;
					float: left;
				}			
		}	
	}

}