.shopping-cart{
	@include outer-container;
	position: relative;
	h2{
		text-align: center;
	}

	.cover-bottom{
		width: 97.5%;
		bottom:11px;
		height: 3px;
		position: absolute;
		background-color: $white;
	}
}

.cart-form{
		width: 100%;
		border-spacing:5px;

	td{
		padding:1em;
		margin-bottom: 1em;
		// border-right:1px solid $light;

		&:nth-last-child(1){
			cursor: pointer;
		}
	}

	tr{
		margin-bottom: 1em;
		@include transition (all 0.3s ease-in-out);
		&:hover{
			
			background-color: transparentize($light, 0.7);

			.event-discrption p{
				color:$dark-gray;
			}
		}
	}
	.event-image{
		display: none;
		@include media($large-screen){
			display: table-cell;
			width: 20%;
		}
	}

	.event-discrption{
		width: 40%;
		p{
			margin: 5px 0;
			color:transparentize($dark-gray, 0.4);
		}

		.event-name {
			text-align: left;
			color:$default-red;
		}
	}
	
	.event-price{
		width: 10%;
		text-align: center;
	}
	.event-quantity{
		width: 10%;
	}
	.event-remove{
		width: 5%;
		text-align: center;
		color: transparentize($dark-gray, 0.5);
	}
	.event-item-price{
		width: 10%;
		color:$default-red;
	}
}

.payment {
	text-align:right;
	h2{
		color: $default-red;
	}
}

