
$filter-header-border:1px solid #f0f0f0;
$artical-border:1px solid #b9b9b9;
$gray:silver;
$active-color:white;
$artical-element-padding:10px;
$filter-tab-link-padding:10px;

$medium-screen: em(640) !default;
$large-screen: em(860) !default;

$tab-mode: $medium-screen;
$horizontal-bar-mode: $large-screen;

$base-border-radius: 3px !default;


$header-background-color:red;
$base-color:white;
$base-color-dark-red:desaturate(darken($header-background-color, 20%), 30%);
$base-color-red:#ee2d26;
$header-border-bottom:1px solid #f0f0f0;
$section-header-black:black;
$darkgray:#606363;
$member-border:1px solid black;