.filter-section{
	@include transition (all 0.2s ease-in-out);
	@include clearfix;

	background-color: $base-color;

	.filter-header{
		color:$base-color-dark-red;
		padding:2em;
		text-align: center;
	}
	

	.accordion-tabs-minimal {
		@include clearfix;
		line-height: 1.5;
		padding: 0;

		li.tab-header {
		list-style: none;

		@include media($tab-mode) {
		  display: inline;
		}
	}

	a.tab-link {
	    background-color: $base-color;
	    border-top: $filter-header-border;
	    color: $darkgray;
	    display: block;
	    font-weight: 400;
	    padding: ($base-spacing / 2) $gutter;
	    text-decoration: none;
	    border-bottom:$filter-header-border;

	    @include media($tab-mode) {
	      @include inline-block;
	      border-top: 0;
	    }

	    &:hover {
	      color: $base-color-red;
	    }

	    &:focus {
	      outline: none;
	    }

	    &.is-active {
	      border-bottom: 0;

	      @include media($tab-mode) {
	        border: $filter-header-border;
	        border-bottom-color:$active-color;
	        margin-bottom: -1px;
	      }
	    }
	}
}


  .navigation-tools {
    background: $base-color;
    clear: both;
    display: block;
    // height: $navigation-height;

    @include media($horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: left;
    }
  } 
}

.search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        @include box-sizing(border-box);
        background: $base-color;
        border-radius: $base-border-radius;
        border: $filter-header-border;
        color: $darkgray;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        @include media($horizontal-bar-mode) {
          width: 100%;
        }
      }

      button[type=submit] {
        background: $base-color-red;
        border: none;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        @include box-sizing(border-box);
        display: block;
      }
  	}
}