.data-background {


  background-color:$background-color;
  min-height: 20em;
  width: 100%;

  .data-text {
    color: $device-text-color;
    padding: 2em;

    @include media($large-screen) {
      float: left;
      max-width: 50%;
      padding: 4em;
    }

    h4 {
      border-bottom: 1px solid transparentize($base-color-red, 0.7);
      font-size: 1.5em;
      margin: 0 0 0.5em 0;
      padding-bottom: 0.5em;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }

    button {
      @include button(flat, $base-color-red);
      padding: 0.7em 1em;
    }
  }

  
}
