.members{

  background-color:$darkgray;

  .section-title{
    color:white;
  }
}

.member{
  

	@include span-columns(6);
  @include omega(2n);
  
  @include media($large-screen){
    @include span-columns(3);
    @include omega(4n);
  }

  border:$member-border;
  text-align: center;
  padding:1em auto;
  margin-bottom: 1em;

}