.section-title{
  color:$base-color-dark-red;
  @include justify-content;
  text-align: center;
  margin:50px auto;
}

.sections {
  width: 95%;
  margin:auto;
}

.content {
  @include span-columns(12);
  @include media($large-screen){
    @include span-columns(4);
    @include omega(3n);
  }
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  // margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  margin-bottom: 2em;

  .content-image {
    overflow: hidden;
    max-height: 150px;

    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }

  .content-header {
    @include transition (all 0.2s ease-in-out);
    color:$section-header-black;
    background-color: $base-color-red;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .content-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    height: 120px;

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }
  
  &:focus,
  &:hover {
    background-color: $card-hover-background;
    
    .content-image img {
      background: $card-image-hover-background;
    }
  
    .content-header {
      background-color: $base-color-dark-red;
      color:$base-color;
    }
  }

  &:active {
    background-color: $card-background;

    .content-header {
      background-color: $card-background;
    }
  }
}
