.signin {  
  @include span-columns(12);
  @include media($vertical-tab-mode){
    @include span-columns(4);
  }

  background-position: top;  
  @include clearfix;
  color: $base-color;
  padding: 3em 2.5em;
  text-align: center;
  
    
  .signin-inner {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($vertical-tab-mode) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($vertical-tab-mode) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }

  }

    button {
      @include button(flat, $base-color);
      padding: 0.7em 1em;
      color:$base-color-red;
    }
}