
$header-background-color:red;
$base-color:white;
$base-color-dark-red:desaturate(darken($header-background-color, 20%), 30%);
$base-color-red:#ee2d26;
$header-border-bottom:1px solid #f0f0f0;
$section-header-black:black;
$darkgray:#606363;
$member-border:1px solid black;