.shopping-cart{
	@include outer-container;
	position: relative;
	h2{
		text-align: center;
	}

	.cover-bottom{
		width: 100%;
		bottom:11px;
		height: 3px;
		position: absolute;
		background-color: $white;
	}
}

.cart-form{
	

	.cart-form table{
		border-spacing:5px;
	}

	td{
		padding:1em;
		margin-bottom: 1em;
		border-right:1px solid $light;

		&:nth-last-child(1){
			border-right:none;
		}
	}

	tr{
		margin-bottom: 1em;
		cursor: pointer;

		&:hover{
			@include animation-duration(2s);
			background-color:$light;
		}
	}
	.event-image{
		width: 20%;
	}
	.event-discrption{
		width: 40%;
		p{
			margin: 5px 0;

		}

		.event-name {
			text-align: left;
			color:$default-red;
		}
	}
	
	.event-price{
		width: 20%;
	}
	.event-quantity{
		width: 10%;
	}
	.event-remove{
		width: 10%;
	}
}

.payment {
	text-align:right;
	h2{
		color: $default-red;
	}
}

